@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400i,700i');

body {
  background-image: url('amy-shamblen-pJ_DCj9KswI-unsplash.jpg');
  font-family: 'Noto Sans', sans-serif;
  font-size: 11px;
}

p {
  line-height: 150%;
  padding: 10px 0 0 0
}

form {
  width: 75%;
  font-weight: bold;
  margin: 0 auto;
}

.option {
  margin: 10px 10px
}

.FormDateInput {
  width: 40px;
}

.strong {
  font-weight: bold;
}

.Announcement {
  font-family: 'Noto Serif', serif;
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0
}
#submit:hover{
  cursor: pointer;
  scale: 110%;
  transform: 500ms;
}

/* .FormMessage {
  height: 100px;
  width: 300px;
} */